*{
  padding: 0;
  margin: 0px;
  list-style: none;
}
button {
  border: none;
  outline: none;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: #3F363B;
}
.pointer{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px -100px;
  width: 200px;
  height: 50px;
  font-family: "Segoe Script";
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: black;
  font-weight: bold;
  background: yellow;
  border-radius: 50px;
  cursor: pointer;
}
.box{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.img{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -48px;
  width: 97px;
  height: 116px;
  //transform: rotate(0deg);
  animation: h 1s ease-in-out alternate infinite;
  //animation-play-state: paused;
  cursor: pointer;
}
@keyframes h {
  //0%,100%{transform: rotate(0deg)}
  25%{transform: rotate(-30deg)}
  100%{transform: rotate(30deg)}
}
.img img{
  width: 100%;
  height: 100%;
}

.box1{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  margin: -200px -250px;
  display :none
}
.box-content{
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.box-content1{
  background: url("../img/xin-1.png");
}
.box-content1 #input1{
  box-sizing: border-box;
  box-shadow: none;
  color: #000;
  display: block;
  font-weight: normal;
  height: 47px;
  width: 60%;
  line-height: 1.2;
  margin: 10px 0;
  outline: medium none;
  padding: 5px 10px;
  transition: border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  background: transparent;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 1px #555;
}
.box-content1 #btn1{
  font-family: "Segoe Script";
  background: yellow;
  width: 100px;
  height: 40px;
  font-size: 30px;
  border-radius: 30px ;
  cursor: pointer;
}

#box2{
  position: absolute;
  top: 0;
  left: 50% ;
  width: 200px;
  margin-left: -100px;
  perspective: 2000px;
  perspective-origin: top;
  //display: none;
}

#box2 #imglist{
  transform-style: preserve-3d;
  position: relative;
  /*backface-visibility:visible;*/
  animation: a 36s linear infinite;
  display: none;

}
@keyframes a {
  0%{}
  100%{transform: rotateY(360deg)}
}
#box2 li{

  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 400px;
  transform-origin: center center 000px;
  display: flex;
  align-items: flex-end;

}
#box2 img{
  width: 100%;
}
